.project-txt {
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--color-pri);
    /* align-self: flex-start; */
  }
  
  .projects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
  }
  
  .projects-container .project {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.014);
    padding: 20px;
    border-radius: 50px;
  }

 
  
  .projects-container .project .project-info {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    max-width: 50%;
  }
  
  .projects-container .project .project-info .name {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .projects-container .project .project-info .languageUsed {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .projects-container .project .project-info .about {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 17px;
  }
  
  .projects-container .project .project-info .contact-project {
    background: var(--color-sec-Light);
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 50px;
    position: absolute;
    transition: 0.1s ease;
  }
  .projects-container .project .project-info .contact-project span {
    text-transform: uppercase;
  }
  .projects-container .project .project-info .contact-project:hover {
    background: transparent;
    border: 2px solid var(--color-sec-Light);
  }
  
  .projects-container .project:hover {
  background: rgba(225, 225, 225, 0.096);
  transform: scale(1.1);
  }
  
  .projects-container .project .project-img {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  border: 2px solid var(--color-sec-Light);
  cursor: pointer;
}

.projects-container .project  .img-a{
  background: url(../props/projects/zoon.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-b{
  background: url(../props/projects/hotel.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-c{
  background: url(../props/projects/resto.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-d{
  background: url(../props/projects/searchapp.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-e{
  background: url(../props/projects/shop.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-f{
  background: url(../props/projects/kodeledger.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-g{
  background: url(../props/projects/feedback.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-h{
  background: url(../props/projects/newsgrid.png);
  background-size: cover;
  background-position: center;
}
.projects-container .project  .img-i{
  background: url(../props/projects/Play.png);
  background-size: cover;
  background-position: center;
}


@media (320px <=  width <= 1208px) {
    .projects-container .project {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 35px;
      }
    .projects-container .project .project-info {
      margin-bottom: 20px;
        max-width: none;
      }
      .projects-container .project .project-info .name {
        margin-top: 10px;
        
      }
      .projects-container .project .project-info .contact-project {
        position: relative;
        margin-bottom: 20px;
      }
}