.quali-text {
   font-size: 20px;
   top: 10px;
 }
 
 .qualification-container {
   position: absolute;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 80%;
   width: 90%;
   overflow-x: scroll;
   overflow-y: hidden;
   margin-top: 15px;
   user-select: none;
 }
 
 .qualification-container .qualification {
   position: relative;
   height: 550px;
   min-width: 40%;
   background: rgb(6, 6, 31);
   border-radius: 20px;
   margin: 0 20px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
 }
 
 .qualification-container .qualification .content {
   height: 85%;
   width: 90%;
   border-radius: 15px;
   margin-top: 20px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   border: 3px solid var(--color-sec-Light);
 }
 
 .qualification-container .qualification h1 {
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 20px;
   border-bottom: 1px solid var(--color-pri);
   /* border-radius: 5px; */
 }
 
 .qualification-container .qualification .content.html {
   background-image: url("../props/html\ Qualification.png");
   background-position: center;

 }
 
 .qualification-container .qualification .content.react {
   background-image: url("../props/react\ Qualification.png");
   background-position: center;
 
 }
 
 .qualification-container .qualification .content.javascript {
   background-image: url("../props/js\ Qualification.png");
   background-position: center;
   background-size: 60px;
 }
 .qualification-container .qualification .content.canva {
   background-image: url("../props/canva\ Qualification.png");
   background-position: center;

 }
 
 .qualification-container .qualification .content.css {
   background-image: url("../props/CSS\ Qualification.png");
   background-position: center;
 
 }
 
 .qualification-container .qualification .content.tailwind {
   background-image: url("../props/tailwind\ Qualification.png");
   background-position: center;

 }
 
 .qualification-container .qualification .content.bootstrap {
   background-image: url("../props/boootstrap\ Qualification.png");
   background-position: center;
 
 }
 
 .qualification-container .qualification .content.mongoDB {
   background-image: url("../props/mongodb\ Qualification.png");
   background-position: center;

 }
 
 .qualification-container .qualification-container .qualification .content.postman {
   background-image: url("../props/postman\ Qualification.png");
   background-position: center;
 
 }
 
 .qualification-container .qualification .content.wordpress {
   background-image: url("../props/wordpress\ Qualification.png");
   background-position: center;
 
 }
 .qualification-container .qualification .content.php {
   background-image: url("../props/php\ Qualification.png");
   background-position: center;
   
 }
















